body{
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 80vw;
    border: 1px dashed black;
}

.col-4,
.col-8{
    border: 1px dashed black;
}

.chat{
    height: 50px;
    border: 1px dashed blue;
    background-color: white;
}

.cerca{
    height: 30px;
}

.chatcontainer{
    height: calc(100% - 100px);
}

.gigi{
    background-image: url(../img/mine.jpg);
}

.immagine{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profilomio{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.iconemie{
    display: flex;
    align-items: center;
    line-height: 50px;
    cursor: pointer;
}
