body{
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 60vw;
    border: 1px dashed black;
}

.col-4,
.col-8{
    border: 1px dashed black;
}

.row{
    height: 50px;
    border: 1px dashed blue;
    background-color: white;
}

.cerca{
    height: 30px;
}

.chatcontainer{
    height: calc(100% - 100px);
}