body{
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 80vw;
    border: 1px dashed black;
}

.leftbar{
    width: 40%;
}

.rightbar{
    width: 60%;
}

.chat{
    height: 50px;
    border: 1px dashed blue;
    background-color: white;
}

.cerca{
    height: 30px;
}

.immagine{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* PROFILO UTENTE */
.profilomio{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: white;
}

.iconemie{
    display: flex;
    align-items: center;
    line-height: 50px;
    cursor: pointer;
}

/* ATTIVA NOTIFICHE */
.notifiche{
    height: 50px;
    display: flex;
    /* justify-content: center; */
    background-color: #8EDAFC;
}

.campana{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    
}

#ricevinotifiche{
    font-size: medium;
}

#attivanotifiche{
    font-size: small;
}

/* CONTAINER CHAT */
.chatcontainer{
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
}

/* FOOTER */
.footer{
    background-color: white;
    height: 50px;
}
